.root{
    --darkblue100:#609ED4;
    --darkblue200: #356EA9;
    -darkblue-300: #0A3871;
    --darkblue400: #072B61;
    --darkblue500: #052051;

    --lightblue100: #F3F5FC;
    --lightblue200: #EFF1FA;
    --lightblue300: #E9ECF8;
    --lightblue400: #AAB2D5;
    --lightblue500: #757FB2;

    --gray100: #CED4DA;
    --gray200: #ADB5BD;
    --gray300: #868E96;
    --gray400: #495057;
    --gray500: #343A40;
}

html{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color:  #E5E5E5;
    font-family: 'Inter', sans-serif;
}

.header{
    width: 100%;
    max-height: 4rem;
  
}
.header a{
    text-decoration: none;
    list-style: none;
}
.header img{
   padding: 1rem;
}

/*Container del Contenido*/
.contenido{
    display: grid;
    grid-template-columns: repeat(2, 70%, 30%);
    grid-auto-flow: column;
}
/*Container del Contenido*/



/*Seccion del input*/
.contenido__texto{
    min-height: 640px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

/*Seccion del contenido lateral*/
.contenido__lateral{
    width: 400px;
    max-width: 100%;
    min-height: 944px;
    background: white;
    border: 1px solid transparent;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    margin-right: 40px;
    text-align: center;
    
}


/*Contenido lateral VACIO*/
.mostrarContenido{
    display: block;
}

.contenido__lateral--vacio h3{
    color: var(--darkblue400);
    font-size: 1.6rem;
    font-weight: 700;
    padding: 0 1rem;
    text-align: center;
}
.contenido__lateral--vacio input{
    color: var(--darkblue100);
    font-size: 1rem;
    font-weight: 400;
    padding: 1rem;
    text-align: center;
}

.ocultarContenido{
    display: block;
}

.contenido__lateral--img img{
    width: 336px;
    height: 304px;
    max-width: 100%;
    min-height: auto;
    text-align: center;
    
}
/*Contenido lateral VACIO*/



/* seccion copiar texto*/
.contenido__lateral--copiar{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


.contenido__lateral--copiar button{
    margin-top: 8rem;
}
.text-copy{
    font-size: 1rem;
    font-weight: 400;
    color: #0A3871;
    padding: 2rem;
    border: none;
    outline: none;
    text-align: center;
}



.input__entrada{
    outline: none;
    background: none;
    border: none;
    font-size: 32px;
    margin-top: 40px;
    margin-left: 40px;
    color: #0A3871;
}

.contenido__texto--actions{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem ;
}
.contenido__texto--actions span{
    padding: 2rem;
}
.buttons{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 0 0 0 2rem;
}

/* seccion copiar texto*/

/*Estilos Botones*/

.btn{
    width: 328px;
    max-width: 100%;
    padding: 24px;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 24px;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}
.primary{
    background: #0A3871;
    color: #F3F5FC;
}
.secondary{
    background: #F3F5FC;
    color: #0A3871;
    border: 1px solid #0A3871;
}

/*Botones*/


/*Footer*/

.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-end;
    position: absolute;
    bottom: -20rem;
    padding: 0 2rem;
}
.footer p{
    text-align: center;
}